<configuration>
    <springProperty
            scope="context"
            name="LOKI_URL"
            source="LOKI_PUSH_URL"
            defaultValue="http://localhost:3100/loki/api/v1/push"/>

    <springProperty
            scope="context"
            name="APP_NAME"
            source="APP_NAME"
            defaultValue="spring-boot-app"/>
    <springProperty
            scope="context"
            name="APP_ENV"
            source="SPRING_PROFILES_ACTIVE"
            defaultValue="default"/>
    <springProperty
            scope="context"
            name="POD_NAMESPACE"
            source="POD_NAMESPACE"
            defaultValue="unknown"/>
    <springProperty
            scope="context"
            name="POD_NAME"
            source="POD_NAME"
            defaultValue="unknown"/>
    <springProperty
            scope="context"
            name="NODE_NAME"
            source="NODE_NAME"
            defaultValue="unknown"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <labels>
            app          = ${APP_NAME}
            service_name = ${APP_NAME}
            level        = %level
            env          = ${APP_ENV}
            namespace    = ${POD_NAMESPACE}
            pod          = ${POD_NAME}
            node         = ${NODE_NAME}
        </labels>
        <message>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </message>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>

</configuration>
