<configuration>
    <springProperty
            scope="context"
            name="APP_NAME"
            source="APP_NAME"
            defaultValue="spring-boot-app"/>
    <springProperty
            scope="context"
            name="APP_ENV"
            source="SPRING_PROFILES_ACTIVE"
            defaultValue="default"/>
    <springProperty
            scope="context"
            name="POD_NAMESPACE"
            source="POD_NAMESPACE"
            defaultValue="unknown"/>
    <springProperty
            scope="context"
            name="POD_NAME"
            source="POD_NAME"
            defaultValue="unknown"/>
    <springProperty
            scope="context"
            name="NODE_NAME"
            source="NODE_NAME"
            defaultValue="unknown"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</pattern>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "app":"${APP_NAME}",
                        "service_name":"${APP_NAME}",
                        "env":"${APP_ENV}",
                        "namespace":"${POD_NAMESPACE}",
                        "pod":"${POD_NAME}",
                        "node":"${NODE_NAME}",
                        "level":"%level",
                        "thread":"%thread",
                        "logger":"%logger{36}"
                        }
                    </pattern>
                </pattern>
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
